html {
  font-size: 100%;
}
a {
  text-decoration: none;
  color: #FFFFFF;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
body {
    padding-top: 30px;
}
nav {
    background-color: #444444;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
}
li {
    list-style: none;
    display: inline;
    padding: 10px;
}
li a {
    font-size: 20px;
}
li a:hover {
    color: powderblue;
}
